.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
    box-shadow: 1px 1px #666, 
                2px 2px #bbb, 
                3px 3px #ccc, 
                5px 5px #bbb, 
                6px 6px #ccc, 
                8px 8px #bbb,
                9px 9px #ccc,
                10px 10px #bbb, 
                   
                13px 13px #777;
    
}
.media-img:hover{
    transform: scale(1.1);
    
}

.media-img-wrapper{
    width: 200px;
    text-align: center;
    padding:0;
    margin:0;
}




.media-body h4 {
    
    margin-bottom: 20px;
    font-family: Poppins;
    color: #281356;
}
    .media-body h4:hover {
        color: #9005ef;
}
.media-body a {
    text-decoration: none;
}
@media (max-width: 1023.98px){
    .media{
        flex-direction:column;
        padding: 30px 20px;
    }
    .media-img-wrapper{
        width: 100%;
        height: auto;  
    }
    
    .media-body{
        padding: 20px 20px;
        text-align: justify;
    }
}